[serial]
device=/dev/ttyAMA0
baudrate=9600
bytesize=8
parity=N
stopbits=1
timeout=1
receivekey=D
deviceid=1234T

[lcd]
lcd=1

[polling]
waittime=60
repeat=3

[db]
driver=sqlite
sqlite=sqlite:///records.sqlite
host=localhost
port=5432
database=gs05
user=postgres
pass=pass
